img{
    max-width: 200px;
    height: 150px;
}

h1{
    color: rgb(88, 75, 57);
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}



body{
    background-color: lightblue;
}


p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    span{
        color: rgb(241, 231, 90);
    }
}

h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: rgb(206, 146, 62);
}


a{
    color: green;
}